.users {
  box-sizing: border-box;
  border: 0.2rem solid black;
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.userList {
  box-sizing: border-box;
  border: 0.2rem solid rgb(207, 36, 36);
  width: 15rem;
  height: 15rem;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5%;
  background-color: rgb(130, 114, 145);
}
