.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchBox {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.users {
  box-sizing: border-box;
  border: 0.2rem solid black;
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.userList {
  box-sizing: border-box;
  border: 0.2rem solid rgb(207, 36, 36);
  width: 15rem;
  height: 15rem;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.userList h5 {
  margin-top: 1rem;
  margin-left: 0.5rem;
}
